@import "tailwindcss";

@theme {
    --color-bg: var(--bg);
    --color-fold-blue: var(--primary-text);
    --color-blue: var(--primary-text);
    --color-link: var(--link);
    --color-lines: var(--color-gray-200);

    --radius-xxl: 24px;
    --font-inter: "Geist", sans-serif;
    --leading-fold: var(--lh-fold);
}

::selection,
input::selection {
    background-color: #e2e1de !important;
}

:root {
    --bg: #fafafa;
    --primary-text: black;
    --link: black;
    --lh-fold: 1.7rem;
}

body,
html {
    background-color: var(--bg);
    color: var(--primary-text);
    font-family: var(--font-inter), sans-serif;
}
