@import "tailwindcss";

@theme {
    --color-fold-light-blue: var(--fold-light-blue);
    --color-fold-blue: var(--fold-blue);
    --color-blue: var(--fold-blue);
    --color-soft: var(--fold-soft);
    --color-link: var(--fold-link);

    --radius-xxl: 24px;
    --font-inter: "Inter";
    --leading-fold: var(--lh-fold);
}

:root {
    --fold-light-blue: rgb(240 241 245);
    --fold-blue: rgb(32 41 76);
    --fold-soft: rgb(103 107 137);
    --fold-link: rgb(69 154 248);
    --lh-fold: 1.8rem;

    --layout-side-padding-min: 1rem;
    --layout-side-padding: max(
        var(--layout-side-padding-min),
        calc(50vw - 720px + 1rem)
    );
    --layout-full-width: calc(100vw - var(--layout-side-padding) * 2);
}

body,
html {
    background-color: var(--fold-light-blue);
    color: var(--fold-blue);
    font-family: var(--font-inter), sans-serif;
}

.reference-layout {
    display: grid;
    grid: "body . toc";
    grid-template-columns: 1fr 4rem minmax(100px, 0.5fr);
}

@media (max-width: 940px) {
    .reference-layout {
        display: grid;
        grid: "body . toc";
        grid-template-columns: 1fr 0 0;
    }

    .reference-layout .gap-between {
        display: none;
    }

    .reference-layout .toc {
        display: none;
    }
}
