@import "tailwindcss";

@theme {
    --color-fold-light-blue: var(--bg);
    --color-fold-blue: var(--primary-text);
    --color-blue: var(--primary-text);
    --color-link: var(--link);

    --radius-xxl: 24px;
    --font-inter: "Geist", sans-serif;
    --leading-fold: var(--lh-fold);
}

:root {
    --bg: #fafafa;
    --primary-text: black;
    --link: black;
    --lh-fold: 1.7rem;
}

body,
html {
    background-color: var(--bg);
    color: var(--primary-text);
    font-family: var(--font-inter), sans-serif;
}
